.window-drag {
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  background-color: #ffe0f0;
  font-family: "Roboto", "Microsoft YaHei UI Light", Tahoma, Verdana, sans-serif;
  white-space: pre-line;
  line-height: 90%;
  user-select: none;
}

body {
  height: 100%;
}

.app_fade_in {
  transition: opacity 200ms;
  opacity: 100;
}
.app_fade_out {
  transition: opacity 200ms;
  opacity: 0;
}
#yggdrasil_droppable {
  height: 10000px; /* Easy to drop */
}
